[Desktop Entry]
Type=Application
Exec=bash ${HOME}/.xkb/rc-xkbcomp.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xkb config
Name=xkb config
Comment[en_US]=
Comment=
